body {
  background:
  linear-gradient(
    rgba(50, 255, 0, 0.75),
    rgba(50, 255, 0, 0.75)
  ),
  url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background: #fff;
  max-width: 600px;

  .jumbotron {
    text-align: center;

    img {
      width: 30%;
    }

    h1 {
      font-size: 25px;
    }
  }

}

footer {
  padding: 15px;
  clear: both;
  text-align: center;
}
