<!DOCTYPE html>
<html lang="{{ default .Site.LanguageCode "en-US" }}">

<head>
  {{ partial "head" . }}
  <style>
    .fs-split .split-image { background-image: url("{{ .Site.Params.visual.image3.file | absURL }}")!important; background-position: {{ if .Site.Params.visual.image3.position }}{{ .Site.Params.visual.image3.position }}{{ else }}center center{{ end }}; }
  </style>
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image3.enable }}

      <div class="split-image">

      </div>

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">
        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Main -->
        {{ block "main" .  }}
          <!-- Bio -->
          {{ partial "bio" . }}
        {{ end }}

        <!-- Footer -->
        {{ partial "footer" . }}
      </div>
    </div>

  </div>

</body>
</html>
